:root {
    --text-color: #fff;
    --btn-color: #000F20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1980px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}



/* header */
.header {
    background-image: url(/img/фон.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    background-position: top center;
    color: var(--text-color);
    padding: 10px;
}

#menu_burger_button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: none;
}

.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
}

.menu_block_contact {
    display: none;
    color: #07070799;
}

.menu .big_link {
    font-size: 1.5em;
}

.menu .big_link:hover {
    transform: translateY(-60px);
}


.menu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: .4s linear;
}

.menu li a {
    padding: 10px 0;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu li:hover {
    transform: translateY(-40px);
}

.menu li .hover_link {
    align-self: center;
    border-bottom: 5px solid var(--btn-color);
}


.button_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    width: 65px;

}

.login_btn {
    background-color: inherit;
    border: none;
    color: var(--text-color);
    font-size: 1.2em;
    cursor: pointer;
}


.login_btn:hover {
    color: rgb(205, 213, 219);
}

.header_page {
    line-height: 1.3;
}

.header_page h1 {
    font-size: 3em;
}

.header_page h2 {
    font-weight: 100;
    margin-top: 8px;
    height: 80px;
}

.header_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_page_input {
    width: 800px;
    border-radius: 5px;
    border: none;
    opacity: .5;
}

.header_page_btn {
    background-color: #000F20;
    padding: 15px 40px;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    border-radius: 5px;
}

.header_tex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.header_tex a {
    color: var(--text-color);
    font-size: 18px;
}


/* main */
.first_main_block {
    padding: 20px;
}

.first_main_block>h2 {
    margin-bottom: 60px;

}

.first_block_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
    font-weight: bold;
}


.first_block_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 240px;
}



/* second block main */
.second_block {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.second_block h2 {
    margin: 0 0 50px 0;
    font-size: 2em;
}

.first_second_block_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 50px;
    margin-bottom: 50px;

}

.second_second_block_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.second_block_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 400px;
}



/* third block main */

.third_block {
    background-color: #F2EFE9;
    padding: 50px 20px;
}

.third_block h2 {
    font-size: 2em;
}


.third_block_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 40px 0 20px 0;
}

.third_block_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 300px;
}

.third_block_item p {
    grid-column-start: 2;
    grid-column-end: 4;
}

.page99 {
    padding: 5px 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}

/* forth block main */
.forth_block p {
    color: #404040;
}

.forth_block_page {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}

.forth_block_page p {
    padding-bottom: 20px;
    font-size: 1.2em;
}

.forth_block_page_right {
    align-self: flex-end;
    margin-bottom: 20px;
}

.forth_sub_block h2 {
    font-size: 2em;
    margin-bottom: 50px;
    padding-left: 20px;
}

.forth_block_items {
    border: 2px solid #404040;
    border-radius: 10px;
    padding: 50px;
    margin: 50px 20px;
}

.forth_block_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.forth_block_item p {
    grid-column-start: 2;
    grid-column-end: 13;
    font-size: 1.2em;
}

.page_padding {
    padding: 20px 0;
}

/* FAQ block main */


.faq_block {
    background-color: #000F20;
    color: var(--text-color);
    padding: 50px 20px;
    margin-bottom: 100px;


}

.faq_block h2 {
    font-size: 2em;
    margin-bottom: 40px;
    padding: 0 0 0 20px;


}

/* 1 */
.faq_block_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
}

.height {
    height: auto;
}

.faq_block_items button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.faq_block_item {
    display: flex;
    flex-direction: column;
}

.faq_block_page {
    padding-top: 50px;

}

/* 2 */
.faq_block_items2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
}

.height2 {
    height: auto;
}

.faq_block_items2 button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.faq_block_item2 {
    display: flex;
    flex-direction: column;
}

/* 3 */
.faq_block_items3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;

}

.height3 {
    height: auto;

}

.faq_block_items3 button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.faq_block_item3 {
    display: flex;
    flex-direction: column;
}

/* 4 */
.faq_block_items4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
}

.height4 {
    height: auto;
    transition: 0.5s all;
}

.faq_block_items4 button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.faq_block_item4 {
    display: flex;
    flex-direction: column;
}

/* 5 */
.faq_block_items5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;

}

.height5 {
    height: auto;

}

.faq_block_items5 button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.faq_block_item5 {
    display: flex;
    flex-direction: column;
}

/* contac block main */
.contact_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 100px 20px;
}

.contact_block_items {
    color: #070707;
    font-size: 1.2em;
    line-height: 1.5;
}

.contact_block_items h2 {
    font-size: 2em;
    margin-bottom: 50px;
}

.contact_block_form {
    max-width: 480px;
}

.contact_block_form h2 {
    font-size: 2.5em;
    margin: 50px 0;
}

.contact_block_form_items {
    display: flex;
    flex-direction: column;
    background-color: #F2EFE9;
    padding: 40px;
    gap: 20px 0;
}

.contact_block_form_items input {
    height: 40px;

}

#contact_button {
    width: 200px;
    height: 40px;
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    border-radius: 7px;
}

.form_check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_check input {
    width: 30px;
    margin-right: 40px;
}

.footer {
    background-color: #1D1D1D;
    height: 205px;

}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px 50px 50px;
    border-bottom: 1px solid #fff;
}

.footer_menu li {
    list-style: none;

}

.footer_menu li a {
    color: #fff;
    text-decoration: none;

}

@media (max-width:1200px) {
    .header {
        background-size: 110% auto;
    }

    .header_page h1 {
        font-size: 2.5em;
    }

    .header_page h2 {
        height: 70px;
        font-size: 1.3em;
    }

    .header_page_input {

        height: 40px;
    }

    .header_page_btn {
        padding: 10px 35px;
    }

    .header_tex {
        margin-top: 6%;
    }

    .header_tex a {
        font-size: 16px;
    }

    .main {
        margin-top: -100px
    }
}

@media (max-width:900px) {
    .header {
        background-size: 120% auto;
    }

    .menu_block {
        padding: 0px 0;
    }

    .menu {
        width: 25%;
    }

    .menu li a {
        font-size: 0.7em;
    }

    .menu .big_link {
        font-size: 1.2em;
    }

    .menu .big_link:hover {
        transform: translateY(-40px);
    }

    .login_btn {
        font-size: 1.1em;
    }

    .header_page h1 {
        font-size: 2em;
    }

    .header_page h2 {
        height: 60px;
        font-size: 1.1em;
    }

    .header_page_input {
        height: 30px;
    }

    .header_page_btn {
        padding: 5px 30px;
    }

    .header_tex {
        margin-top: 10%;
    }

    .header_tex a {
        font-size: 12px;
    }

    .main {
        margin-top: -150px
    }

    /*forth block main  */

    .forth_block_item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .forth_block_item p {
        grid-column-start: 1;
        grid-column-end: 12;
        font-size: 1.2em;
    }

    /* contact block main */

    .contact_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 100px 0;

    }

    .contact_block_items {
        color: #070707;
        font-size: 1.2em;
        line-height: 1.5;
        padding-left: 20px;
    }

    .contact_block_items h2 {
        font-size: 2em;
        margin-bottom: 50px;

    }


    .contact_block_form h2 {
        font-size: 2.5em;
        margin: 0 0 50px 20px;
    }

    .contact_block_form_items {
        display: flex;
        flex-direction: column;
        background-color: #F2EFE9;
        padding: 40px;
        gap: 20px 0;
    }

    .contact_block_form_items input {
        height: 40px;

    }

    #contact_button {
        width: 200px;
        height: 40px;
        background-color: var(--btn-color);
        color: var(--text-color);
        border: none;
        border-radius: 7px;
    }

    .form_check {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form_check input {
        width: 30px;
        margin-right: 40px;
    }

    /* footer block */
    .footer {
        background-color: #1D1D1D;
        height: 205px;

        line-height: 1.4;
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 20px;
        border: none;
    }
}

@media (max-width:580px) {
    .header {
        background-size: 130% auto;
    }



    .menu li a {
        font-size: 0.6em;
    }



    .login_btn {
        font-size: 0.9em;
    }

    .header_page h1 {
        font-size: 1.9em;
    }

    .header_page h2 {
        height: 50px;
        font-size: 1em;
    }

    .header_tex {
        margin-top: 8%;
    }

    .header_tex a {
        font-size: 10px;
    }

    .main {
        margin-top: -300px
    }

    .first_block_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 50px;

    }


    .first_second_block_item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .second_second_block_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }


}


@media (max-width:480px) {
    .header {
        background-size: 250% 100%;
        background-position: right -280px bottom;
    }


    .menu_block {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: e;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 0;
        width: 70%;

    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin-top: 80px;
    }

    .menu_block_contact {
        display: block;
        color: #07070799;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .menu .big_link {
        display: none;
    }

    .menu li a {
        padding: 10px 0;
        color: #000;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li:hover {
        transform: none;
    }

    .menu li .hover_link {
        display: none;
    }


    .button_block {
        display: none;
    }



    #menu_burger_button {
        display: block;
        position: relative;
        left: 90%;
        z-index: 3;

    }

    .hide {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;

    }

    .header_page h1 {
        font-size: 30px;
    }

    .header_page h2 {
        height: 70px;
        font-size: 1.3em;
        margin-top: 50px;
        margin-bottom: 200px;
    }

    .header_form {
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    .header_page_input {
        height: 50px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .header_page_btn {
        padding: 15px 40px;
        width: 150px;
    }

    .header_tex {
        display: none;
    }

    .main {
        margin-top: 0px
    }

    /* second block of second main block */

    .second_block_item p {
        font-size: 15px;
    }

    .first_block_item p {
        font-size: 15px;
    }


    /* main third block */
    .third_block_items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 40px 0 20px 0;
    }

    .page99 {
        padding: 5px 20px;
        background-color: var(--btn-color);
        color: var(--text-color);
        display: inline-block;
        font-size: 2em;
        font-weight: bold;

    }

    .first_block_item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 200px;
    }




    .contact_block_form h2 {
        font-size: 2em;
        margin: 20px 0 50px 20px;
    }

    .contact_block_form_items {
        padding: 20px;

    }




}

@media (max-width:320px) {
    .header {
        background-size: 300% 80%;
        background-position: top left -250px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;
    }

    .menu_block_contact {

        font-size: .8em;
        margin-left: 0px;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .header_page h2 {
        font-size: 1.3em;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .hide {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(255, 255, 255);
        height: 80vh;
        top: 0;
        right: 0;
        z-index: 2w;
    }

    .main {
        margin-top: -100px;
    }


    .first_block_items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 50px;
    }

    .first_second_block_item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .second_block h2 {
        font-size: 1.5em;
    }

    .second_second_block_items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    }

    .third_block h2 {
        font-size: 1.5em;
    }


}