:root {
    --text-color: #fff;
    --btn-color: #000F20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1980px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}


/* header */


#menu_burger_button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: none;
}

.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
}

.menu_block_contact {
    display: none;
    color: #07070799;
}

.menu .big_link {
    font-size: 1.4em;
}

.menu .big_link:hover {
    transform: translateY(-71px);
}


.menu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: .4s linear;
}

.menu li a {
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu .big_link:hover {
    transform: translateY(-60px);
}

.menu li:hover {
    transform: translateY(-45px);
}

.menu li .hover_link {
    align-self: center;
    border-bottom: 5px solid #000;
}


.button_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    width: 65px;

}

.login_btn {
    background-color: inherit;
    border: none;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
}


.login_btn:hover {
    color: rgb(205, 213, 219);
}


/* main */

.third_main {
    height: 500px;
    overflow: hidden;
    line-height: 1.5;
    margin-top: 50px;
    padding: 0 20px;
}

.third_main h2 {
    font-size: 3em;
}

.main_sub_items {
    height: 500px;
}


/* price block main */

.price_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.price_list h4 {
    margin-bottom: 10px;
}


.dark {
    background-color: #000F20;
    color: #fff;

}

.light {
    background-color: rgb(183, 177, 177);
    color: #000;
}

.price_list_item1 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}



.price_list_item2 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.price_list_item3 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.price_form_block {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.price_form {
    display: flex;
}

.price_form p {
    margin-left: 20px;
}


.header_page_btn {
    background-color: #000F20;
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    width: 170px;
    align-self: center;
}


.fifth_third_block_item {
    background-color: #F2EFE9;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px;
    border-radius: 7px;
}

.fifth_third_block_item input {
    padding: 8px;
    background-color: #F9F8F6;
    border: none;
    border-radius: 7px;
}

.fifth_third_block_item .btn {
    background-color: #000F20;
    padding: 10px 40px;
    width: 200px;
    border-radius: 7px;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

/* footer */
.footer {
    background-color: #1D1D1D;
    height: 205px;
    margin-top: 50px;

}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px 50px 50px;
    border-bottom: 1px solid #fff;
}

.footer_menu li {
    list-style: none;

}

.footer_menu li a {
    color: #fff;
    text-decoration: none;
}

.top_link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 2em;
}



@media (max-width:900px) {
    /* header */

    .menu_block {
        padding: 20px;
    }

    .menu {
        width: 25%;
    }

    .menu li a {
        font-size: 0.7em;
    }

    .menu .big_link {
        font-size: 1.2em;
    }

    .menu .big_link:hover {
        transform: translateY(-50px);
    }


    .menu li:hover {
        transform: translateY(-40px);
    }

    .login_btn {
        font-size: 1.1em;
    }

    /* main */

    .third_main {
        height: 600px;
        overflow: hidden;
        line-height: 1.5;
        margin-top: 50px;
        padding: 0 20px;
    }

    .main_sub_items {
        height: 600px;
    }

    /* footer */
    .footer {
        background-color: #1D1D1D;
        height: 205px;

        line-height: 1.4;
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 20px;
        border: none;
    }
}

@media (max-width:740px) {

    /* main */
    .third_main {
        height: 700px;
        overflow: hidden;
        line-height: 1.5;
    }



    .main_sub_items {
        height: 700px;
    }
}

@media (max-width:580px) {

    /* header */
    .menu {
        width: 25%;
    }

    .menu li a {
        font-size: 0.6em;
    }


    .login_btn {
        font-size: 0.9em;
    }

    /* main */

    .third_main {
        height: 1000px;
        overflow: hidden;
        line-height: 1.5;
        margin-top: 50px;
        padding: 0 20px;
    }



    .main_sub_items {
        height: 1000px;
    }

    /* price block main */
    .price_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;

    }
}

@media (max-width:480px) {

    /* header */
    .menu_block {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: e;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 0;
        width: 70%;

    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin-top: 80px;
    }

    .menu_block_contact {
        display: block;
        color: #07070799;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .menu .big_link {
        display: none;
    }

    .menu li a {
        padding: 10px 0;
        color: #000;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li:hover {
        transform: none;
    }

    .menu li .hover_link {
        display: none;
    }


    .button_block {
        display: none;
    }



    #menu_burger_button {
        display: block;
        position: relative;
        left: 80%;
        z-index: 3;
        top: 20px;
    }

    .hide {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(153, 153, 153);
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;

    }


    /* main */
    .third_main {
        height: 1250px;
        overflow: hidden;
        line-height: 1.5;
    }

    .third_main h2 {
        font-size: 2em;
    }

    .main_sub_items {
        height: 1250px;
    }

    /* fifth main bloc */
    .fifth_third_block_item {
        background-color: #F2EFE9;
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 20px;
        border-radius: 7px;
    }

    .fifth_third_block_item input {
        padding: 8px;
        background-color: #F9F8F6;
        border: none;
        border-radius: 7px;
    }

    .fifth_third_block_item .btn {
        background-color: #000F20;
        padding: 10px 40px;
        border-radius: 7px;
        color: #fff;
        text-decoration: none;
        margin-top: 10px;
    }

}

@media (max-width:320px) {

    /* header */
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;
    }

    /* main */

    .third_main {
        height: 1500px;


    }

    .main_sub_items {
        height: 1500px;
    }
}