:root {
    --text-color: #fff;
    --btn-color: #000F20;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1980px;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.filter {
    filter: blur(10px);
}




/* header */



#menu_burger_button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: none;
}

.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
}

.menu_block_contact {
    display: none;
    color: #07070799;
}

.menu .big_link {
    font-size: 1.4em;
}

.menu .big_link:hover {
    transform: translateY(-71px);
}


.menu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: .4s linear;
}

.menu li a {
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu .big_link:hover {
    transform: translateY(-71px);
}

.menu li:hover {
    transform: translateY(-55px);
}

.menu li .hover_link {
    align-self: center;
    border-bottom: 5px solid #000;
}


.button_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    width: 65px;

}

.login_btn {
    background-color: inherit;
    border: none;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
}


.login_btn:hover {
    color: rgb(205, 213, 219);
}




/* main */

.main_block {
    padding: 0 20px;

}

.main_block h2 {
    padding: 20px 0;
}

/* first main block */
.first_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;

}


.first_block h2 {
    grid-column-start: 1;
    grid-column-end: 5;


}


.sub_first_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 5;

}

/* second block main */
.second_block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.second_block_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.ptc {
    font-size: 1em;
    padding: 30px 20px;
    background-color: #F2EFE9;
    border-radius: 7px;
    margin: 50px 0;
}

/* third block */


.third_block_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.third_block_item {
    border: 1px solid black;
    border-radius: 7px;
    padding: 45px;
}


/* komers block main */


.komers_block_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


/* price block main */

.price_block {
    background-color: #F2EFE9;
    padding: 50px;
}

.price_block h2 {
    padding: 0 0 50px 0;
}

.price_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-bottom: 50px;
}




.dark {
    background-color: #000F20;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #000;
}

.price_list_item1 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}


.price_list_item2 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.price_list_item3 {
    transition: .3s;
    padding: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.price_form_block {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.price_form {
    display: flex;
}

.price_form p {
    margin-left: 20px;
}


.header_page_btn {
    background-color: #000F20;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    width: 160px;
    align-self: center;
}

/* footer */
.footer {
    background-color: #1D1D1D;
    height: 205px;

}

.footer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px 50px 50px;
    border-bottom: 1px solid #fff;
}

.footer_menu li {
    list-style: none;

}

.footer_menu li a {
    color: #fff;
    text-decoration: none;
}

.top_link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 2em;

}

@media (max-width:900px) {
    /* header */

    .menu_block {
        padding: 0px 0;
    }

    .menu {
        width: 25%;
    }

    .menu li a {
        font-size: 0.7em;
    }

    .menu .big_link {
        font-size: 1.2em;
    }

    .menu .big_link:hover {
        transform: translateY(-50px);
    }


    .menu li:hover {
        transform: translateY(-40px);
    }

    .login_btn {
        font-size: 1.1em;
    }

    /* footer block */
    .footer {
        background-color: #1D1D1D;
        height: 205px;

        line-height: 1.4;
    }

    .footer_menu {
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 20px;
        border: none;
    }
}

@media (max-width:580px) {

    /* header */
    .menu {
        width: 25%;
    }

    .menu li a {
        font-size: 0.6em;
    }


    .login_btn {
        font-size: 0.9em;
    }

    /* main */

    /* first main block */
    .first_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'top'
            'center'
            'bottom';

    }

    .first_block h2 {
        grid-area: center;
    }

    .first_block>p {
        grid-area: top;

    }

    .sub_first_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area: bottom;
    }


    /* second main block */


    .second_block_page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* third main block */
    .third_block_items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        row-gap: 20px;
    }

    /* komers block mmain */
    .komers_block_page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* price block main */
    .price_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;

    }
}

@media (max-width:480px) {

    /* header */
    .menu_block {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: e;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 0;
        width: 70%;

    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        margin-top: 80px;
    }

    .menu_block_contact {
        display: block;
        color: #07070799;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .menu .big_link {
        display: none;
    }

    .menu li a {
        padding: 10px 0;
        color: #000;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li:hover {
        transform: none;
    }

    .menu li .hover_link {
        display: none;
    }


    .button_block {
        display: none;
    }



    #menu_burger_button {
        display: block;
        position: relative;
        left: 80%;
        z-index: 3;
        top: 20px;
    }

    .hide {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(153, 153, 153);
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 2;

    }

}

@media (max-width:320px) {

    /* header */
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;
    }

    .menu_block_contact {

        font-size: .8em;
        margin-left: 10px;

    }

    .sub_first_block {
        font-size: 0.8em;
    }

    .third_block_item {
        border: 1px solid black;
        border-radius: 7px;
        padding: 10px;
        font-size: 0.9em;
    }


}